# Assignment 1
For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [datasets/NISPUF17.csv](datasets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [datasets/NIS-PUF17-DUG.pdf](datasets/NIS-PUF17-DUG.pdf).

## Question 1 (20%)
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

In [72]:
#https://www.cdc.gov/vaccines/imz-managers/nis/downloads/NIS-PUF17-DUG.pdf

import pandas as pd
import numpy as np

def proportion_of_education():
    df = pd.read_csv('datasets/NISPUF17.csv')
    len_df = len(df)
    edu = df["EDUC1"]
    edu1 = edu==1
    edu2 = edu==2
    edu3 = edu==3
    edu4 = edu==4
    edu_dict = {"less than high school":len(edu[edu1])/len_df, "high school":len(edu[edu2])/len_df, "more than high school but not college":len(edu[edu3])/len_df, "college":len(edu[edu4])/len_df}
    return edu_dict
    
    
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [ ]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

## Question 2 (20%)

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

In [ ]:
import pandas as pd
import numpy as np

def average_influenza_doses():
    #read csv file
    df = pd.read_csv('datasets/NISPUF17.csv')
    
    #get the relevent columns
    new_data= pd.DataFrame(df, columns=['CBF_01', 'P_NUMFLU'])
    
    #create to groups of breastfed and not breastfed
    breastfed = new_data.loc[new_data['CBF_01'] == 1]
    not_breastfed = new_data.loc[new_data['CBF_01'] == 2]
    
    #use the breastfed only and find average num vaccines
    vacB = breastfed['P_NUMFLU'].dropna()
    sum_vacB = sum(vacB)
    count_vacB = len(vacB)
    avg_vacB = sum_vacB/count_vacB
    
    #use the NOT breastfed only and find average num vaccines
    vacNb = not_breastfed['P_NUMFLU'].dropna()
    sum_vacNb = sum(vacNb)
    count_vacNb = len(vacNb)
    avg_vacNb = sum_vacNb/count_vacNb
    
    #tuple averages
    averages = (avg_vacB,avg_vacNb)
    
    #return averages
    return averages

    '''
  
    for group, frame in df.where(df["review_scores_location"=='t']>9).dropna(how='all').groupby("review_scores_value")
    '''    

average_influenza_doses()

In [ ]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

## Question 3 (25%)
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value I'm looking for starts with the digits `0.00773`.

In [41]:
import pandas as pd
import numpy as np

def chickenpox_by_sex():
    #read csv file
    df = pd.read_csv('datasets/NISPUF17.csv')
    
    #get the relevent columns
    new_data= pd.DataFrame(df, columns=['SEX', 'HAD_CPOX', 'P_NUMVRC'])
    
    #create to groups of male and female
    male = new_data.loc[new_data['SEX'] == 1]
    female = new_data.loc[new_data['SEX'] == 2]
    
    
    #-------------------------MALE-------------------------
    #use male only and vaciniated
    vacM0 = (male['P_NUMVRC']>=1).dropna()
    vacM1= ((male[vacM0]!=77) & (male[vacM0]!=99)).dropna()
    vacM2 = (male[vacM1]).dropna()
    
    vacMYes = vacM2
    
    
    #-----male had pox-----
    poxM = vacMYes['HAD_CPOX']==1
    poxMYes = vacMYes[poxM]
    
    #number males who were vaccinated and contracted CPOX
    vacMPoxYes = len(poxMYes)
    
    #----male DID NOT HAVE pox-----
    poxMx = vacMYes['HAD_CPOX']==2
    poxMNo = vacMYes[poxMx]
    
    #number males who were vaccinated and DID NOT contracted CPOX
    vacMPoxNo = len(poxMNo)
    
    
   #***RATIO MALE number of males who contracted chickenpox but were vaccinated against it VS those who were vaccinated but did not contract chicken pox 
    ratioMale = vacMPoxYes/vacMPoxNo
    
    
    #-------------------------FEMALE-------------------------
     #use female only and vaciniated
    vacF0 = female['P_NUMVRC']>=1
    vacF1= ((female[vacF0]!=77) & (female[vacF0]!=99)).dropna()
    vacF2 = (female[vacF1]).dropna()
    
    vacFYes = vacF2
    
    
    #-----female had pox-----
    poxF = vacFYes['HAD_CPOX']==1
    poxFYes = vacFYes[poxF]
    
    #number females who were vaccinated and contracted CPOX
    vacFPoxYes = len(poxFYes)
    
    #----female DID NOT HAVE pox-----
    poxFx = vacFYes['HAD_CPOX']==2
    poxFNo = vacFYes[poxFx]
    
    #number females who were vaccinated and DID NOT contracted CPOX
    vacFPoxNo = len(poxFNo)
    
    
   #***RATIO FEMALE number of females who contracted chickenpox but were vaccinated against it VS those who were vaccinated but did not contract chicken pox 
    ratioFemale = vacFPoxYes/vacFPoxNo
    
    
    #----------!!!!!!RETURN DICT!!!!!!----------
    vacPoxBySex = {'male':ratioMale, 'female':ratioFemale}
    return vacPoxBySex


chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [ ]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

## Question 4 (25%)
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. If the `had_chickenpox_column` is either `1` (for yes) or `2` for no, and that the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine, then a positive correlation (e.g. `corr > 0`) would mean that an increase in `had_chickenpox_column` (which means more no's) would mean an increase in the `num_chickenpox_vaccine_column` (which means more doses of vaccine). If `corr < 0` then there is a negative correlation, indicating that having had chickenpox is related to an increase in the number of vaccine doses. Also, `pval` refers to the probability the relationship observed is significant. In this case `pval` should be very very small (will end in `e-18` indicating a very small number), which means the result unlikely to be by chance.

[1] This isn't really the full picture, since we are not looking at when the dose was given. It's possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [89]:
#collaborated with Emily Kanterman
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    #read csv
    df = pd.read_csv('datasets/NISPUF17.csv')
    
    #smaller df with only colomns had pox or not and number of vaccines, drop rows that have NaN in these columns
    new_data= pd.DataFrame(df, columns=['HAD_CPOX', 'P_NUMVRC']).dropna()
    
    
    clean_df = ((clean_df2['HAD_CPOX']>=1) &(clean_df2['HAD_CPOX']<3))
    clean_df1 = new_data[clean_df]
    
                           
    corr, pval=stats.pearsonr(clean_df1["HAD_CPOX"], clean_df1['P_NUMVRC'])
    
   
    return corr, pval
    
corr_chickenpox()

(0.07044873460147985, 2.778026318363451e-18)

In [ ]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."

## Question 5 (10%)

Is there a relationship between states which voted for the republican candidate for president in 2016 (Trump) versus those who voted for the democratic candidate for president in 2016 (Hillary) and the rate of vaccination in those states in 2017? I would like you to answer this by doing a correlation test between the ratio of votes for Trump/Clinton against the ratio of Vaccination/Non-Vaccination (of Chickenpox!) by state.

Note: You are certainly using joins or merges here.

Note: You will might need the state [FIPS identifiers](https://en.wikipedia.org/wiki/Federal_Information_Processing_Standard_state_code#FIPS_state_codes) and will certainly want the [MIT Elections Data](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/42MVDX) which has the results from 2018.

Note: I don't know the answer to this question already.

In [3]:
%matplotlib inline
def corr_election():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    df_vac = pd.read_csv('datasets/NISPUF17.csv')
    df_vot = pd.read_csv('datasets/1976-2016-president.csv')
   
    #only 2016
    df_year = df_vot['year']==2016
    apply_year = df_vot[df_year]
    
    #only Trump and Hillary
    df_can = (apply_year['candidate']=='Trump, Donald J.') | (apply_year['candidate']=='Clinton, Hillary')
    apply_can = apply_year[df_can]
    
    #new smaller dataframe
    apply_can = pd.DataFrame(apply_can, columns=['state','state_fips','candidate','candidatevotes'])
    apply_can = apply_can.dropna()
    
    #new smaller dataframe for vaccine data
    vacc_df= pd.DataFrame(df_vac, columns=['STATE', 'P_NUMVRC'])
    vacc_df = vacc_df.dropna()
    
    #rename column in order to join on states
    election_df = apply_can.rename(columns={'state_fips':'STATE'})
    
    election_df.groupby(['STATE','state','candidate']).sum()

    voted_trump = election_df['candidate']=='Trump, Donald J.'
    t = election_df[voted_trump]
    trump_votes = t['candidatevotes']

    voted_clinton = election_df['candidate']== 'Clinton, Hillary'
    c = election_df[voted_clinton]
    clinton_votes = c['candidatevotes']            
   
    election_df['trump votes'] = trump_votes
    election_df['clinton votes'] = clinton_votes
    w = election_df.groupby(['state','STATE'])
    election_df2 = w.sum()

    election_df2['ratio trump/clinton'] = election_df2['trump votes']/election_df2['clinton votes']

    #new smaller dataframe for vaccine data
    vacc_df= pd.DataFrame(df_vac, columns=['STATE', 'P_NUMVRC'])
    vacc_df = vacc_df.dropna()
    
    vacc_yes = vacc_df['P_NUMVRC'] >= 1
    y_df = vacc_df[vacc_yes]
    y = y_df.groupby(['STATE'])
    yes = y.count()

    vacc_no = vacc_df['P_NUMVRC'] == 0
    n_df = vacc_df[vacc_no]
    n = n_df.groupby(['STATE'])
    no = n.count()

    merge_vacc = pd.merge(yes, no, how='outer', on='STATE')
    
    merge_vacc['ratio vacc/not-vacc']= merge_vacc['P_NUMVRC_x']/merge_vacc['P_NUMVRC_y']
    
    #merge the two data frames together
    merge = pd.merge(election_df2, merge_vacc, how='inner', on='STATE')

    corr, pval=stats.pearsonr(merge['ratio trump/clinton'],merge['ratio vacc/not-vacc'])
    
    #return corr, pval
    return corr, pval

corr_election()

(-0.2801083542361783, 0.046499248838739134)

In [51]:
import scipy.stats as stats
import numpy as np
import pandas as pd

In [82]:
df_vac = pd.read_csv('datasets/NISPUF17.csv')
df_vot = pd.read_csv('datasets/1976-2016-president.csv')

In [83]:
#only 2016
df_year = df_vot['year']==2016
apply_year = df_vot[df_year]
apply_year

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
3395,2016,Alabama,AL,1,63,41,US President,"Trump, Donald J.",republican,False,1318255,2123372,20171015,NaN
3396,2016,Alabama,AL,1,63,41,US President,"Clinton, Hillary",democrat,False,729547,2123372,20171015,NaN
3397,2016,Alabama,AL,1,63,41,US President,"Johnson, Gary",libertarian,False,44467,2123372,20171015,NaN
3398,2016,Alabama,AL,1,63,41,US President,NaN,NaN,True,21712,2123372,20171015,NaN
3399,2016,Alabama,AL,1,63,41,US President,"Stein, Jill",green,False,9391,2123372,20171015,NaN
3400,2016,Alaska,AK,2,94,81,US President,"Trump, Donald J.",republican,False,163387,318608,20171015,NaN
3401,2016,Alaska,AK,2,94,81,US President,"Clinton, Hillary",democrat,False,116454,318608,20171015,NaN
3402,2016,Alaska,AK,2,94,81,US President,"Johnson, Gary",libertarian,False,18725,318608,20171015,NaN
3403,2016,Alaska,AK,2,94,81,US President,NaN,NaN,True,9201,318608,20171015,NaN
3404,2016,Alaska,AK,2,94,81,US President,"Stein, Jill",green,False,5735,318608,20171015,NaN
3405,2016,Alaska,AK,2,94,81,US President,"Castle, Darrell L.",constitution party,False,3866,318608,20171015,NaN
3406,2016,Alaska,AK,2,94,81,US President,"De La Fuente, Roque """"Rocky""""",no party affiliation,False,1240,318608,20171015,NaN
3407,2016,Arizona,AZ,4,86,61,US President,"Trump, Donald J.",republican,False,1252401,2573165,20171015,NaN
3408,2016,Arizona,AZ,4,86,61,US President,"Clinton, Hillary",democrat,False,1161167,2573165,20171015,NaN
3409,2016,Arizona,AZ,4,86,61,US President,"Johnson, Gary",libertarian,False,106327,2573165,20171015,NaN
3410,2016,Arizona,AZ,4,86,61,US President,"Stein, Jill",green,False,34345,2573165,20171015,NaN
3411,2016,Arizona,AZ,4,86,61,US President,NaN,independent,True,17473,2573165,20171015,NaN
3412,2016,Arizona,AZ,4,86,61,US President,"Castle, Darrell L.",constitution party,True,1058,2573165,20171015,NaN
3413,2016,Arizona,AZ,4,86,61,US President,NaN,no party affiliation,True,311,2573165,20171015,NaN
3414,2016,Arizona,AZ,4,86,61,US President,NaN,democrat,True,42,2573165,20171015,NaN
3415,2016,Arizona,AZ,4,86,61,US President,"De La Fuente, Roque """"Rocky""""",american delta party,True,29,2573165,20171015,NaN
3416,2016,Arizona,AZ,4,86,61,US President,"Tittle, Sheila """"Samm""""",we the people,True,12,2573165,20171015,NaN
3417,2016,Arkansas,AR,5,71,42,US President,"Trump, Donald J.",republican,False,684872,1130635,20171015,NaN
3418,2016,Arkansas,AR,5,71,42,US President,"Clinton, Hillary",democrat,False,380494,1130635,20171015,NaN
3419,2016,Arkansas,AR,5,71,42,US President,"Johnson, Gary",libertarian,False,29829,1130635,20171015,NaN
3420,2016,Arkansas,AR,5,71,42,US President,"McMullin, Evan",better for america,False,13255,1130635,20171015,NaN
3421,2016,Arkansas,AR,5,71,42,US President,"Stein, Jill",green,False,9473,1130635,20171015,NaN
3422,2016,Arkansas,AR,5,71,42,US President,"Hedges, Jim",prohibition,False,4709,1130635,20171015,NaN
3423,2016,Arkansas,AR,5,71,42,US President,"Castle, Darrell L.",constitution party,False,4613,1130635,20171015,NaN
3424,2016,Arkansas,AR,5,71,42,US President,"Kahn, Lynn S.",independent,False,3390,1130635,20171015,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3710,2016,Washington,WA,53,91,73,US President,"Clinton, Hillary",democrat,False,1742718,3317019,20171015,NaN
3711,2016,Washington,WA,53,91,73,US President,"Trump, Donald J.",republican,False,1221747,3317019,20171015,NaN
3712,2016,Washington,WA,53,91,73,US President,"Johnson, Gary",libertarian,False,160879,3317019,20171015,NaN
3713,2016,Washington,WA,53,91,73,US President,NaN,NaN,True,107805,3317019,20171015,NaN
3714,2016,Washington,WA,53,91,73,US President,"Stein, Jill",green,False,58417,3317019,20171015,NaN
3715,2016,Washington,WA,53,91,73,US President,"Castle, Darrell L.",constitution party,False,17623,3317019,20171015,NaN
3716,2016,Washington,WA,53,91,73,US President,"Kennedy, Alyson",socialist workers,False,4307,3317019,20171015,NaN
3717,2016,Washington,WA,53,91,73,US President,"La Riva, Gloria Estella",socialism and liberation party,False,3523,3317019,20171015,NaN
3718,2016,West Virginia,WV,54,55,56,US President,"Trump, Donald J.",republican,False,489371,713051,20171015,NaN
3719,2016,West Virginia,WV,54,55,56,US President,"Clinton, Hillary",democrat,False,188794,713051,20171015,NaN
3720,2016,West Virginia,WV,54,55,56,US President,"Johnson, Gary",libertarian,False,23004,713051,20171015,NaN
3721,2016,West Virginia,WV,54,55,56,US President,"Stein, Jill",green,False,8075,713051,20171015,NaN
3722,2016,West Virginia,WV,54,55,56,US President,"Castle, Darrell L.",constitution party,False,3807,713051,20171015,NaN
3723,2016,Wisconsin,WI,55,35,25,US President,"Trump, Donald J.",republican,False,1405284,2976150,20171015,NaN
3724,2016,Wisconsin,WI,55,35,25,US President,"Clinton, Hillary",democrat,False,1382536,2976150,20171015,NaN
3725,2016,Wisconsin,WI,55,35,25,US President,"Johnson, Gary",libertarian,False,106674,2976150,20171015,NaN
3726,2016,Wisconsin,WI,55,35,25,US President,"Stein, Jill",green,False,31072,2976150,20171015,NaN
3727,2016,Wisconsin,WI,55,35,25,US President,Scattering,NaN,False,22764,2976150,20171015,NaN
3728,2016,Wisconsin,WI,55,35,25,US President,NaN,NaN,True,12386,2976150,20171015,NaN
3729,2016,Wisconsin,WI,55,35,25,US President,"Castle, Darrell L.",constitution party,False,12162,2976150,20171015,NaN
3730,2016,Wisconsin,WI,55,35,25,US President,"Moorehead, Monica",workers world party,False,1770,2976150,20171015,NaN
3731,2016,Wisconsin,WI,55,35,25,US President,"De La Fuente, Roque """"Rocky""""",american delta party,False,1502,2976150,20171015,NaN
3732,2016,Wyoming,WY,56,83,68,US President,"Trump, Donald J.",republican,False,174419,258788,20171015,NaN
3733,2016,Wyoming,WY,56,83,68,US President,"Clinton, Hillary",democrat,False,55973,258788,20171015,NaN
3734,2016,Wyoming,WY,56,83,68,US President,"Johnson, Gary",libertarian,False,13287,258788,20171015,NaN
3735,2016,Wyoming,WY,56,83,68,US President,NaN,NaN,True,6904,258788,20171015,NaN
3736,2016,Wyoming,WY,56,83,68,US President,NaN,independent,False,3224,258788,20171015,NaN
3737,2016,Wyoming,WY,56,83,68,US President,Blank Vote,NaN,False,2661,258788,20171015,NaN
3738,2016,Wyoming,WY,56,83,68,US President,"Castle, Darrell L.",constitution party,False,2042,258788,20171015,NaN
3739,2016,Wyoming,WY,56,83,68,US President,Over Vote,NaN,False,278,258788,20171015,NaN

In [54]:
#only Trump and Hillary
df_can = (apply_year['candidate']=='Trump, Donald J.') | (apply_year['candidate']=='Clinton, Hillary')
apply_can = apply_year[df_can]
apply_can

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
3395,2016,Alabama,AL,1,63,41,US President,"Trump, Donald J.",republican,False,1318255,2123372,20171015,NaN
3396,2016,Alabama,AL,1,63,41,US President,"Clinton, Hillary",democrat,False,729547,2123372,20171015,NaN
3400,2016,Alaska,AK,2,94,81,US President,"Trump, Donald J.",republican,False,163387,318608,20171015,NaN
3401,2016,Alaska,AK,2,94,81,US President,"Clinton, Hillary",democrat,False,116454,318608,20171015,NaN
3407,2016,Arizona,AZ,4,86,61,US President,"Trump, Donald J.",republican,False,1252401,2573165,20171015,NaN
3408,2016,Arizona,AZ,4,86,61,US President,"Clinton, Hillary",democrat,False,1161167,2573165,20171015,NaN
3417,2016,Arkansas,AR,5,71,42,US President,"Trump, Donald J.",republican,False,684872,1130635,20171015,NaN
3418,2016,Arkansas,AR,5,71,42,US President,"Clinton, Hillary",democrat,False,380494,1130635,20171015,NaN
3425,2016,California,CA,6,93,71,US President,"Clinton, Hillary",democrat,False,8753788,14181595,20171015,NaN
3426,2016,California,CA,6,93,71,US President,"Trump, Donald J.",republican,False,4483810,14181595,20171015,NaN
3431,2016,Colorado,CO,8,84,62,US President,"Clinton, Hillary",democrat,False,1338870,2780220,20171015,NaN
3432,2016,Colorado,CO,8,84,62,US President,"Trump, Donald J.",republican,False,1202484,2780220,20171015,NaN
3451,2016,Connecticut,CT,9,16,1,US President,"Clinton, Hillary",democrat,False,897572,1644920,20171015,NaN
3452,2016,Connecticut,CT,9,16,1,US President,"Trump, Donald J.",republican,False,673215,1644920,20171015,NaN
3456,2016,Delaware,DE,10,51,11,US President,"Clinton, Hillary",democrat,False,235603,441590,20171015,NaN
3457,2016,Delaware,DE,10,51,11,US President,"Trump, Donald J.",republican,False,185127,441590,20171015,NaN
3460,2016,District of Columbia,DC,11,53,55,US President,"Clinton, Hillary",democrat,False,282830,312575,20171015,NaN
3461,2016,District of Columbia,DC,11,53,55,US President,"Trump, Donald J.",republican,False,12723,312575,20171015,NaN
3467,2016,Florida,FL,12,59,43,US President,"Trump, Donald J.",republican,False,4617886,9420039,20171015,NaN
3468,2016,Florida,FL,12,59,43,US President,"Clinton, Hillary",democrat,False,4504975,9420039,20171015,NaN
3474,2016,Georgia,GA,13,58,44,US President,"Trump, Donald J.",republican,False,2089104,4114732,20171015,NaN
3475,2016,Georgia,GA,13,58,44,US President,"Clinton, Hillary",democrat,False,1877963,4114732,20171015,NaN
3478,2016,Hawaii,HI,15,95,82,US President,"Clinton, Hillary",democrat,False,266891,437664,20171015,NaN
3479,2016,Hawaii,HI,15,95,82,US President,"Trump, Donald J.",republican,False,128847,437664,20171015,NaN
3485,2016,Idaho,ID,16,82,63,US President,"Trump, Donald J.",republican,False,409055,690255,20171015,NaN
3486,2016,Idaho,ID,16,82,63,US President,"Clinton, Hillary",democrat,False,189765,690255,20171015,NaN
3490,2016,Illinois,IL,17,33,21,US President,"Clinton, Hillary",democrat,False,3090729,5536424,20171015,NaN
3491,2016,Illinois,IL,17,33,21,US President,"Trump, Donald J.",republican,False,2146015,5536424,20171015,NaN
3495,2016,Indiana,IN,18,32,22,US President,"Trump, Donald J.",republican,False,1557286,2734958,20171015,NaN
3496,2016,Indiana,IN,18,32,22,US President,"Clinton, Hillary",democrat,False,1033126,2734958,20171015,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3650,2016,Oklahoma,OK,40,73,53,US President,"Trump, Donald J.",republican,False,949136,1452992,20171015,NaN
3651,2016,Oklahoma,OK,40,73,53,US President,"Clinton, Hillary",democrat,False,420375,1452992,20171015,NaN
3653,2016,Oregon,OR,41,92,72,US President,"Clinton, Hillary",democrat,False,1002106,2001336,20171015,NaN
3654,2016,Oregon,OR,41,92,72,US President,"Trump, Donald J.",republican,False,782403,2001336,20171015,NaN
3658,2016,Pennsylvania,PA,42,23,14,US President,"Trump, Donald J.",republican,False,2970733,6115402,20171015,NaN
3659,2016,Pennsylvania,PA,42,23,14,US President,"Clinton, Hillary",democrat,False,2926441,6115402,20171015,NaN
3663,2016,Rhode Island,RI,44,15,5,US President,"Clinton, Hillary",democrat,False,252525,464144,20171015,NaN
3664,2016,Rhode Island,RI,44,15,5,US President,"Trump, Donald J.",republican,False,180543,464144,20171015,NaN
3669,2016,South Carolina,SC,45,57,48,US President,"Trump, Donald J.",republican,False,1155389,2103027,20171015,NaN
3670,2016,South Carolina,SC,45,57,48,US President,"Clinton, Hillary",democrat,False,855373,2103027,20171015,NaN
3676,2016,South Dakota,SD,46,45,37,US President,"Trump, Donald J.",republican,False,227721,370093,20171015,NaN
3677,2016,South Dakota,SD,46,45,37,US President,"Clinton, Hillary",democrat,False,117458,370093,20171015,NaN
3680,2016,Tennessee,TN,47,62,54,US President,"Trump, Donald J.",republican,False,1522925,2508027,20171015,NaN
3681,2016,Tennessee,TN,47,62,54,US President,"Clinton, Hillary",democrat,False,870695,2508027,20171015,NaN
3684,2016,Texas,TX,48,74,49,US President,"Trump, Donald J.",republican,False,4685047,8969226,20171015,NaN
3685,2016,Texas,TX,48,74,49,US President,"Clinton, Hillary",democrat,False,3877868,8969226,20171015,NaN
3689,2016,Utah,UT,49,87,67,US President,"Trump, Donald J.",republican,False,515211,1131317,20171015,NaN
3690,2016,Utah,UT,49,87,67,US President,"Clinton, Hillary",democrat,False,310674,1131317,20171015,NaN
3695,2016,Vermont,VT,50,13,6,US President,"Clinton, Hillary",democrat,False,178573,320467,20171015,NaN
3696,2016,Vermont,VT,50,13,6,US President,"Trump, Donald J.",republican,False,95369,320467,20171015,NaN
3704,2016,Virginia,VA,51,54,40,US President,"Clinton, Hillary",democrat,False,1981473,3982752,20171015,NaN
3705,2016,Virginia,VA,51,54,40,US President,"Trump, Donald J.",republican,False,1769443,3982752,20171015,NaN
3710,2016,Washington,WA,53,91,73,US President,"Clinton, Hillary",democrat,False,1742718,3317019,20171015,NaN
3711,2016,Washington,WA,53,91,73,US President,"Trump, Donald J.",republican,False,1221747,3317019,20171015,NaN
3718,2016,West Virginia,WV,54,55,56,US President,"Trump, Donald J.",republican,False,489371,713051,20171015,NaN
3719,2016,West Virginia,WV,54,55,56,US President,"Clinton, Hillary",democrat,False,188794,713051,20171015,NaN
3723,2016,Wisconsin,WI,55,35,25,US President,"Trump, Donald J.",republican,False,1405284,2976150,20171015,NaN
3724,2016,Wisconsin,WI,55,35,25,US President,"Clinton, Hillary",democrat,False,1382536,2976150,20171015,NaN
3732,2016,Wyoming,WY,56,83,68,US President,"Trump, Donald J.",republican,False,174419,258788,20171015,NaN
3733,2016,Wyoming,WY,56,83,68,US President,"Clinton, Hillary",democrat,False,55973,258788,20171015,NaN

In [55]:
#new smaller dataframe
apply_can = pd.DataFrame(apply_can, columns=['state','state_fips','candidate','candidatevotes'])
apply_can = apply_can.dropna()

In [56]:
apply_can

                     state  state_fips         candidate  candidatevotes
3395               Alabama           1  Trump, Donald J.         1318255
3396               Alabama           1  Clinton, Hillary          729547
3400                Alaska           2  Trump, Donald J.          163387
3401                Alaska           2  Clinton, Hillary          116454
3407               Arizona           4  Trump, Donald J.         1252401
3408               Arizona           4  Clinton, Hillary         1161167
3417              Arkansas           5  Trump, Donald J.          684872
3418              Arkansas           5  Clinton, Hillary          380494
3425            California           6  Clinton, Hillary         8753788
3426            California           6  Trump, Donald J.         4483810
3431              Colorado           8  Clinton, Hillary         1338870
3432              Colorado           8  Trump, Donald J.         1202484
3451           Connecticut           9  Clinton, Hillary          897572
3452           Connecticut           9  Trump, Donald J.          673215
3456              Delaware          10  Clinton, Hillary          235603
3457              Delaware          10  Trump, Donald J.          185127
3460  District of Columbia          11  Clinton, Hillary          282830
3461  District of Columbia          11  Trump, Donald J.           12723
3467               Florida          12  Trump, Donald J.         4617886
3468               Florida          12  Clinton, Hillary         4504975
3474               Georgia          13  Trump, Donald J.         2089104
3475               Georgia          13  Clinton, Hillary         1877963
3478                Hawaii          15  Clinton, Hillary          266891
3479                Hawaii          15  Trump, Donald J.          128847
3485                 Idaho          16  Trump, Donald J.          409055
3486                 Idaho          16  Clinton, Hillary          189765
3490              Illinois          17  Clinton, Hillary         3090729
3491              Illinois          17  Trump, Donald J.         2146015
3495               Indiana          18  Trump, Donald J.         1557286
3496               Indiana          18  Clinton, Hillary         1033126
...                    ...         ...               ...             ...
3650              Oklahoma          40  Trump, Donald J.          949136
3651              Oklahoma          40  Clinton, Hillary          420375
3653                Oregon          41  Clinton, Hillary         1002106
3654                Oregon          41  Trump, Donald J.          782403
3658          Pennsylvania          42  Trump, Donald J.         2970733
3659          Pennsylvania          42  Clinton, Hillary         2926441
3663          Rhode Island          44  Clinton, Hillary          252525
3664          Rhode Island          44  Trump, Donald J.          180543
3669        South Carolina          45  Trump, Donald J.         1155389
3670        South Carolina          45  Clinton, Hillary          855373
3676          South Dakota          46  Trump, Donald J.          227721
3677          South Dakota          46  Clinton, Hillary          117458
3680             Tennessee          47  Trump, Donald J.         1522925
3681             Tennessee          47  Clinton, Hillary          870695
3684                 Texas          48  Trump, Donald J.         4685047
3685                 Texas          48  Clinton, Hillary         3877868
3689                  Utah          49  Trump, Donald J.          515211
3690                  Utah          49  Clinton, Hillary          310674
3695               Vermont          50  Clinton, Hillary          178573
3696               Vermont          50  Trump, Donald J.           95369
3704              Virginia          51  Clinton, Hillary         1981473
3705              Virginia          51  Trump, Donald J.         1769443
3710            Washington          53  Clinton, Hillary         1742718
3711            Washington          53  Trump, Donald J.         1221747
3718         West Virginia          54  Trump, Donald J.          489371
3719         West Virginia          54  Clinton, Hillary          188794
3723             Wisconsin          55  Trump, Donald J.         1405284
3724             Wisconsin          55  Clinton, Hillary         1382536
3732               Wyoming          56  Trump, Donald J.          174419
3733               Wyoming          56  Clinton, Hillary           55973

[107 rows x 4 columns]

In [84]:
#rename column in order to join on states
election_df = apply_can.rename(columns={'state_fips':'STATE'})

In [59]:
election_df.groupby(['STATE','state','candidate']).sum()

                                             candidatevotes
STATE state                candidate
1     Alabama              Clinton, Hillary          729547
                           Trump, Donald J.         1318255
2     Alaska               Clinton, Hillary          116454
                           Trump, Donald J.          163387
4     Arizona              Clinton, Hillary         1161167
                           Trump, Donald J.         1252401
5     Arkansas             Clinton, Hillary          380494
                           Trump, Donald J.          684872
6     California           Clinton, Hillary         8753788
                           Trump, Donald J.         4483810
8     Colorado             Clinton, Hillary         1338870
                           Trump, Donald J.         1202484
9     Connecticut          Clinton, Hillary          897572
                           Trump, Donald J.          673215
10    Delaware             Clinton, Hillary          235603
                           Trump, Donald J.          185127
11    District of Columbia Clinton, Hillary          282830
                           Trump, Donald J.           12723
12    Florida              Clinton, Hillary         4504975
                           Trump, Donald J.         4617886
13    Georgia              Clinton, Hillary         1877963
                           Trump, Donald J.         2089104
15    Hawaii               Clinton, Hillary          266891
                           Trump, Donald J.          128847
16    Idaho                Clinton, Hillary          189765
                           Trump, Donald J.          409055
17    Illinois             Clinton, Hillary         3090729
                           Trump, Donald J.         2146015
18    Indiana              Clinton, Hillary         1033126
                           Trump, Donald J.         1557286
...                                                     ...
40    Oklahoma             Clinton, Hillary          420375
                           Trump, Donald J.          949136
41    Oregon               Clinton, Hillary         1002106
                           Trump, Donald J.          782403
42    Pennsylvania         Clinton, Hillary         2926441
                           Trump, Donald J.         2970733
44    Rhode Island         Clinton, Hillary          252525
                           Trump, Donald J.          180543
45    South Carolina       Clinton, Hillary          855373
                           Trump, Donald J.         1155389
46    South Dakota         Clinton, Hillary          117458
                           Trump, Donald J.          227721
47    Tennessee            Clinton, Hillary          870695
                           Trump, Donald J.         1522925
48    Texas                Clinton, Hillary         3877868
                           Trump, Donald J.         4685047
49    Utah                 Clinton, Hillary          310674
                           Trump, Donald J.          515211
50    Vermont              Clinton, Hillary          178573
                           Trump, Donald J.           95369
51    Virginia             Clinton, Hillary         1981473
                           Trump, Donald J.         1769443
53    Washington           Clinton, Hillary         1742718
                           Trump, Donald J.         1221747
54    West Virginia        Clinton, Hillary          188794
                           Trump, Donald J.          489371
55    Wisconsin            Clinton, Hillary         1382536
                           Trump, Donald J.         1405284
56    Wyoming              Clinton, Hillary           55973
                           Trump, Donald J.          174419

[102 rows x 1 columns]

In [85]:
voted_trump = election_df['candidate']=='Trump, Donald J.'
t = election_df[voted_trump]
trump_votes = t['candidatevotes']
#print(trump_votes)

voted_clinton = election_df['candidate']== 'Clinton, Hillary'
c = election_df[voted_clinton]
clinton_votes = c['candidatevotes']

In [64]:
election_df['trump votes'] = trump_votes
election_df['clinton votes'] = clinton_votes
w = election_df.groupby(['state','STATE'])
election_df2 = w.sum()

election_df2

                            candidatevotes  trump votes  clinton votes
state                STATE
Alabama              1             2047802    1318255.0       729547.0
Alaska               2              279841     163387.0       116454.0
Arizona              4             2413568    1252401.0      1161167.0
Arkansas             5             1065366     684872.0       380494.0
California           6            13237598    4483810.0      8753788.0
Colorado             8             2541354    1202484.0      1338870.0
Connecticut          9             1570787     673215.0       897572.0
Delaware             10             420730     185127.0       235603.0
District of Columbia 11             295553      12723.0       282830.0
Florida              12            9122861    4617886.0      4504975.0
Georgia              13            3967067    2089104.0      1877963.0
Hawaii               15             395738     128847.0       266891.0
Idaho                16             598820     409055.0       189765.0
Illinois             17            5236744    2146015.0      3090729.0
Indiana              18            2590412    1557286.0      1033126.0
Iowa                 19            1454652     800983.0       653669.0
Kansas               20            1098023     671018.0       427005.0
Kentucky             21            1831825    1202971.0       628854.0
Louisiana            22            1958792    1178638.0       780154.0
Maine                23             693328     335593.0       357735.0
Maryland             24            2621434     943428.0      1678006.0
Massachusetts        25            3086089    1090893.0      1995196.0
Michigan             26            4548382    2279543.0      2268839.0
Minnesota            27            2690654    1322949.0      1367705.0
Mississippi          28            1185845     700714.0       485131.0
Missouri             29            2665579    1594511.0      1071068.0
Montana              30             456949     279240.0       177709.0
Nebraska             31             780455     495961.0       284494.0
Nevada               32            1051318     512058.0       539260.0
New Hampshire        33             694316     345790.0       348526.0
New Jersey           34            3750211    1601933.0      2148278.0
New Mexico           35             704901     319667.0       385234.0
New York             36            7375658    2819534.0      4556124.0
North Carolina       37            4551947    2362631.0      2189316.0
North Dakota         38             310552     216794.0        93758.0
Ohio                 39            5235169    2841005.0      2394164.0
Oklahoma             40            1369511     949136.0       420375.0
Oregon               41            1784509     782403.0      1002106.0
Pennsylvania         42            5897174    2970733.0      2926441.0
Rhode Island         44             433068     180543.0       252525.0
South Carolina       45            2010762    1155389.0       855373.0
South Dakota         46             345179     227721.0       117458.0
Tennessee            47            2393620    1522925.0       870695.0
Texas                48            8562915    4685047.0      3877868.0
Utah                 49             825885     515211.0       310674.0
Vermont              50             273942      95369.0       178573.0
Virginia             51            3750916    1769443.0      1981473.0
Washington           53            2964465    1221747.0      1742718.0
West Virginia        54             678165     489371.0       188794.0
Wisconsin            55            2787820    1405284.0      1382536.0
Wyoming              56             230392     174419.0        55973.0

In [86]:
election_df2['ratio trump/clinton'] = election_df2['trump votes']/election_df2['clinton votes']
election_df2

,,candidatevotes,trump votes,clinton votes,ratio trump/clinton
state,STATE,,,,
Alabama,1,2047802,1318255.0,729547.0,1.806950
Alaska,2,279841,163387.0,116454.0,1.403018
Arizona,4,2413568,1252401.0,1161167.0,1.078571
Arkansas,5,1065366,684872.0,380494.0,1.799955
California,6,13237598,4483810.0,8753788.0,0.512214
Colorado,8,2541354,1202484.0,1338870.0,0.898134
Connecticut,9,1570787,673215.0,897572.0,0.750040
Delaware,10,420730,185127.0,235603.0,0.785758
District of Columbia,11,295553,12723.0,282830.0,0.044985
Florida,12,9122861,4617886.0,4504975.0,1.025064
Georgia,13,3967067,2089104.0,1877963.0,1.112431
Hawaii,15,395738,128847.0,266891.0,0.482770
Idaho,16,598820,409055.0,189765.0,2.155587
Illinois,17,5236744,2146015.0,3090729.0,0.694339
Indiana,18,2590412,1557286.0,1033126.0,1.507353
Iowa,19,1454652,800983.0,653669.0,1.225365
Kansas,20,1098023,671018.0,427005.0,1.571452
Kentucky,21,1831825,1202971.0,628854.0,1.912958
Louisiana,22,1958792,1178638.0,780154.0,1.510776
Maine,23,693328,335593.0,357735.0,0.938105
Maryland,24,2621434,943428.0,1678006.0,0.562232
Massachusetts,25,3086089,1090893.0,1995196.0,0.546760
Michigan,26,4548382,2279543.0,2268839.0,1.004718
Minnesota,27,2690654,1322949.0,1367705.0,0.967277
Mississippi,28,1185845,700714.0,485131.0,1.444381
Missouri,29,2665579,1594511.0,1071068.0,1.488711
Montana,30,456949,279240.0,177709.0,1.571333
Nebraska,31,780455,495961.0,284494.0,1.743309
Nevada,32,1051318,512058.0,539260.0,0.949557
New Hampshire,33,694316,345790.0,348526.0,0.992150
New Jersey,34,3750211,1601933.0,2148278.0,0.745682
New Mexico,35,704901,319667.0,385234.0,0.829800
New York,36,7375658,2819534.0,4556124.0,0.618845
North Carolina,37,4551947,2362631.0,2189316.0,1.079164
North Dakota,38,310552,216794.0,93758.0,2.312272
Ohio,39,5235169,2841005.0,2394164.0,1.186638
Oklahoma,40,1369511,949136.0,420375.0,2.257832
Oregon,41,1784509,782403.0,1002106.0,0.780759
Pennsylvania,42,5897174,2970733.0,2926441.0,1.015135
Rhode Island,44,433068,180543.0,252525.0,0.714951
South Carolina,45,2010762,1155389.0,855373.0,1.350743
South Dakota,46,345179,227721.0,117458.0,1.938744
Tennessee,47,2393620,1522925.0,870695.0,1.749091
Texas,48,8562915,4685047.0,3877868.0,1.208150
Utah,49,825885,515211.0,310674.0,1.658365
Vermont,50,273942,95369.0,178573.0,0.534062
Virginia,51,3750916,1769443.0,1981473.0,0.892994
Washington,53,2964465,1221747.0,1742718.0,0.701058
West Virginia,54,678165,489371.0,188794.0,2.592090
Wisconsin,55,2787820,1405284.0,1382536.0,1.016454
Wyoming,56,230392,174419.0,55973.0,3.116127

In [87]:
#new smaller dataframe for vaccine data
vacc_df= pd.DataFrame(df_vac, columns=['STATE', 'P_NUMVRC'])
vacc_df = vacc_df.dropna()
vacc_df

       STATE  P_NUMVRC
3         27       1.0
4         34       0.0
6         34       1.0
7          9       0.0
8         42       0.0
10        20       1.0
12        48       1.0
16        20       2.0
19        31       1.0
20         4       1.0
21        29       1.0
22        39       1.0
24        32       1.0
25        56       1.0
26        36       1.0
27        25       1.0
28        47       1.0
29        48       1.0
30        27       1.0
34        25       1.0
35        38       1.0
36        23       0.0
39        27       1.0
40        17       1.0
41        23       1.0
43        46       1.0
44         6       1.0
46         9       1.0
47         9       1.0
49        27       1.0
...      ...       ...
28397     44       1.0
28398     30       0.0
28400     48       1.0
28402     49       1.0
28403     48       1.0
28404      1       1.0
28406     35       1.0
28407     22       1.0
28408     30       0.0
28409     22       1.0
28410     24       1.0
28411     35       1.0
28412     35       1.0
28415     48       1.0
28418     48       1.0
28422     48       1.0
28424     48       1.0
28425     48       1.0
28427     48       1.0
28430     48       1.0
28435      6       1.0
28436     56       1.0
28437     48       1.0
28438     48       1.0
28440     48       1.0
28446     22       1.0
28447     47       1.0
28449     31       1.0
28452     19       1.0
28454      2       1.0

[15333 rows x 2 columns]

In [67]:

vacc_yes = vacc_df['P_NUMVRC'] >= 1
#vacc_yes
y_df = vacc_df[vacc_yes]
#y_df
y = y_df.groupby(['STATE'])
yes = y.count()
#yes


vacc_no = vacc_df['P_NUMVRC'] == 0
n_df = vacc_df[vacc_no]
n = n_df.groupby(['STATE'])

no = n.count()
no

       P_NUMVRC
STATE
1            22
2            39
4            23
5            24
6            22
8            32
9            13
10           16
11           12
12           32
13           22
15           26
16           20
17           34
18           36
19           18
20           24
21           15
22           26
23           30
24           21
25           10
26           15
27           19
28           20
29           30
30           19
31           13
32           18
33           18
34           33
35           22
36           52
37           25
38           14
39           36
40           24
41           26
42           46
44           15
45           24
46           24
47           13
48          124
49           35
50           29
51           15
53           27
54           28
55           25
56           32

In [88]:
merge_vacc = pd.merge(yes, no, how='outer', on='STATE')
merge_vacc

       P_NUMVRC_x  P_NUMVRC_y
STATE
1             273          22
2             212          39
4             242          23
5             234          24
6             302          22
8             232          32
9             253          13
10            216          16
11            257          12
12            282          32
13            277          22
15            210          26
16            178          20
17            439          34
18            220          36
19            208          18
20            168          24
21            214          15
22            256          26
23            241          30
24            340          21
25            261          10
26            222          15
27            230          19
28            227          20
29            199          30
30            197          19
31            233          13
32            217          18
33            218          18
34            323          33
35            211          22
36            491          52
37            273          25
38            208          14
39            243          36
40            195          24
41            228          26
42            497          46
44            234          15
45            214          24
46            220          24
47            259          13
48           1421         124
49            214          35
50            222          29
51            341          15
53            245          27
54            270          28
55            193          25
56            235          32

In [69]:
merge_vacc['ratio vacc/not-vacc']= merge_vacc['P_NUMVRC_x']/merge_vacc['P_NUMVRC_y']
merge_vacc

       P_NUMVRC_x  P_NUMVRC_y  ratio vacc/not-vacc
STATE
1             273          22            12.409091
2             212          39             5.435897
4             242          23            10.521739
5             234          24             9.750000
6             302          22            13.727273
8             232          32             7.250000
9             253          13            19.461538
10            216          16            13.500000
11            257          12            21.416667
12            282          32             8.812500
13            277          22            12.590909
15            210          26             8.076923
16            178          20             8.900000
17            439          34            12.911765
18            220          36             6.111111
19            208          18            11.555556
20            168          24             7.000000
21            214          15            14.266667
22            256          26             9.846154
23            241          30             8.033333
24            340          21            16.190476
25            261          10            26.100000
26            222          15            14.800000
27            230          19            12.105263
28            227          20            11.350000
29            199          30             6.633333
30            197          19            10.368421
31            233          13            17.923077
32            217          18            12.055556
33            218          18            12.111111
34            323          33             9.787879
35            211          22             9.590909
36            491          52             9.442308
37            273          25            10.920000
38            208          14            14.857143
39            243          36             6.750000
40            195          24             8.125000
41            228          26             8.769231
42            497          46            10.804348
44            234          15            15.600000
45            214          24             8.916667
46            220          24             9.166667
47            259          13            19.923077
48           1421         124            11.459677
49            214          35             6.114286
50            222          29             7.655172
51            341          15            22.733333
53            245          27             9.074074
54            270          28             9.642857
55            193          25             7.720000
56            235          32             7.343750

In [70]:
#merge the two data frames together
merge = pd.merge(election_df2, merge_vacc, how='inner', on='STATE')

In [71]:
merge

,candidatevotes,trump votes,clinton votes,ratio trump/clinton,P_NUMVRC_x,P_NUMVRC_y,ratio vacc/not-vacc
STATE,,,,,,,
1,2047802,1318255.0,729547.0,1.806950,273,22,12.409091
2,279841,163387.0,116454.0,1.403018,212,39,5.435897
4,2413568,1252401.0,1161167.0,1.078571,242,23,10.521739
5,1065366,684872.0,380494.0,1.799955,234,24,9.750000
6,13237598,4483810.0,8753788.0,0.512214,302,22,13.727273
8,2541354,1202484.0,1338870.0,0.898134,232,32,7.250000
9,1570787,673215.0,897572.0,0.750040,253,13,19.461538
10,420730,185127.0,235603.0,0.785758,216,16,13.500000
11,295553,12723.0,282830.0,0.044985,257,12,21.416667
12,9122861,4617886.0,4504975.0,1.025064,282,32,8.812500
13,3967067,2089104.0,1877963.0,1.112431,277,22,12.590909
15,395738,128847.0,266891.0,0.482770,210,26,8.076923
16,598820,409055.0,189765.0,2.155587,178,20,8.900000
17,5236744,2146015.0,3090729.0,0.694339,439,34,12.911765
18,2590412,1557286.0,1033126.0,1.507353,220,36,6.111111
19,1454652,800983.0,653669.0,1.225365,208,18,11.555556
20,1098023,671018.0,427005.0,1.571452,168,24,7.000000
21,1831825,1202971.0,628854.0,1.912958,214,15,14.266667
22,1958792,1178638.0,780154.0,1.510776,256,26,9.846154
23,693328,335593.0,357735.0,0.938105,241,30,8.033333
24,2621434,943428.0,1678006.0,0.562232,340,21,16.190476
25,3086089,1090893.0,1995196.0,0.546760,261,10,26.100000
26,4548382,2279543.0,2268839.0,1.004718,222,15,14.800000
27,2690654,1322949.0,1367705.0,0.967277,230,19,12.105263
28,1185845,700714.0,485131.0,1.444381,227,20,11.350000
29,2665579,1594511.0,1071068.0,1.488711,199,30,6.633333
30,456949,279240.0,177709.0,1.571333,197,19,10.368421
31,780455,495961.0,284494.0,1.743309,233,13,17.923077
32,1051318,512058.0,539260.0,0.949557,217,18,12.055556
33,694316,345790.0,348526.0,0.992150,218,18,12.111111
34,3750211,1601933.0,2148278.0,0.745682,323,33,9.787879
35,704901,319667.0,385234.0,0.829800,211,22,9.590909
36,7375658,2819534.0,4556124.0,0.618845,491,52,9.442308
37,4551947,2362631.0,2189316.0,1.079164,273,25,10.920000
38,310552,216794.0,93758.0,2.312272,208,14,14.857143
39,5235169,2841005.0,2394164.0,1.186638,243,36,6.750000
40,1369511,949136.0,420375.0,2.257832,195,24,8.125000
41,1784509,782403.0,1002106.0,0.780759,228,26,8.769231
42,5897174,2970733.0,2926441.0,1.015135,497,46,10.804348
44,433068,180543.0,252525.0,0.714951,234,15,15.600000
45,2010762,1155389.0,855373.0,1.350743,214,24,8.916667
46,345179,227721.0,117458.0,1.938744,220,24,9.166667
47,2393620,1522925.0,870695.0,1.749091,259,13,19.923077
48,8562915,4685047.0,3877868.0,1.208150,1421,124,11.459677
49,825885,515211.0,310674.0,1.658365,214,35,6.114286
50,273942,95369.0,178573.0,0.534062,222,29,7.655172
51,3750916,1769443.0,1981473.0,0.892994,341,15,22.733333
53,2964465,1221747.0,1742718.0,0.701058,245,27,9.074074
54,678165,489371.0,188794.0,2.592090,270,28,9.642857
55,2787820,1405284.0,1382536.0,1.016454,193,25,7.720000
56,230392,174419.0,55973.0,3.116127,235,32,7.343750

In [ ]:
corr, pval=stats.pearsonr(merge['ratio trump/clinton'],merge['ratio vacc/not-vacc'])
corr, pval